<html lang="en">
<%- include('./partials/head.ejs') %> 
<body class="closed">
    <h1>SITE CLOSED</h1>
    <p>Open: Monday-Friday, 9:00am - 5:00pm</p>
    <h3 class="red">~Contact us @ <a href="https://gomycode.com">GomyCode</a></h3>
</body>
</html>