<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, placeat corrupti consequuntur impedit voluptas quo vitae perferendis ut, repellat dignissimos dicta accusantium cumque tempore assumenda dolores adipisci praesentium vero nemo.</p>
    <h3>~Contact us @ <a href="https://gomycode.com">GomyCode</a></h3>
</body>
</html>